.cta-reserve-table {
  background-color: var(--color-primary);

  .restaurant-info {
    display: flex;
    margin: 0 auto;
    max-width: 1024px;
    padding: 30px 0 40px 0;
    justify-content: space-between;

    &__text {
      max-width: 50%;
      color: #FFFFFF;
      h2 {
        font-size: 1.6rem;
        color: var(--color-secondary);
      }
      h3 {
        font-size: 1.4rem;
      }
    }

    &__banner {
      width: 100%;
      position: relative;
      img {
        right: 0;
        max-width: 275px;
        border-radius: 10px;
        position: absolute;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.section {
  max-width: 1024px;
  margin: 0 auto;
}

.specials {
  margin: 50px auto;
}

.specials-wrapper {
  gap: 15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: space-between;
}

.testimonials {
  text-align: center;
  background-color: #D9D9D9;

  &__inner {
    margin: 0 auto;
    padding: 50px 0;
  }
}

.about-us {
  padding: 30px 10px 70px;
  &__images-wrapper {
    flex-basis: 50%;
    position: relative;
  }
  &__info {
    flex-basis: 50%;
  }
  &__image {
    width: 300px;
    max-width: 100%;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    &:first-child {
      top: 50px;
      left: 30px;
    }
    &:last-child {
      bottom: 30px;
      right: 0;
    }
  }
}