.cta-reserve-table {
  background-color: var(--color-primary);

  .restaurant-info {
    display: flex;
    margin: 0 auto;
    max-width: 1024px;
    padding: 30px 0 40px 0;
    justify-content: space-between;

    &__text {
      max-width: 50%;
      color: #FFFFFF;
      h2 {
        font-size: 1.6rem;
        color: var(--color-secondary);
      }
      h3 {
        font-size: 1.4rem;
      }
      button {
        cursor: pointer;
        color: #000000;
        font-weight: 600;
        margin-top: 15px;
        padding: 10px 15px;
        border-radius: 10px;
        transition: all .3s;
        border: 0 solid transparent;
        background-color: var(--color-secondary);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

        &:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.596);
        }
      }
    }

    &__banner {
      width: 100%;
      position: relative;
      img {
        left: 50%;
        max-width: 250px;
        border-radius: 10px;
        position: absolute;
        transform: translateX(-50%);
      }
    }
  }
}